/.idea
/weiciyuan.iml
/.gradle
/local.properties
/libs/libs.iml
/libs/slidingmenulibrary/slidingmenulibrary.iml
/libs/slidingmenulibrary/build
/libs/showcaseviewlibrary/showcaseviewlibrary.iml
/libs/showcaseviewlibrary/build
/build
