/.idea
/weiciyuan.iml
/.gradle
/local.properties
/build
/slidingmenulibrary/build
/showcaseviewlibrary/showcaseviewlibrary.iml
/showcaseviewlibrary/build
/slidingmenulibrary/slidingmenulibrary.iml
/app/app.iml
/app/build
